button{
    border: none;
    background: none;

}
.button{
    padding: 10px;
    border-radius: 2px;
    background: #d9d9d9;
    font-size: 20px;
    box-shadow: 2px 2px 2px solid gray;
}
.button:hover{
    background-color: rgb(72, 75, 78);
    color: white;
}

input{
    padding: 10px;  
    margin: 10px 0;
}
.timer{
    align-items: center;
    background: #d9d9d9;
    width: 292px;
    padding: 20px;
    margin: 5px;
    position: relative;
    border-radius: 10px;
}
.timer div{
    padding: 10px 0;
}
.delete{
    font-size: 24px;
    position: absolute;
    top: 0;
    right: 0;
}
.app{
    display: flex;
    justify-content: space-between;
    padding: 80px 0 0 0;
    width: 1000px;
    margin: 0 auto;
}